:root { 
    --primary-color: #e4d6d6; /* off white */
    --secondary-color: #000; /* Black */
    --accent1-color: #047a4b ; /* Dark Olive Green */
    --accent2-color: #fff; /* white */
    --heading-font: "Times New Roman", "Georgia", serif;
     --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent1-color);
    height: 200px;
    width: 100%;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    justify-content: flex-end;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent2-color);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent2-color);
}


h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

section, article, p {
    margin: 16px;
    padding: 8px;
}

.hero {
    background: var(--accent2-color);
    border: 2px solid var(--accent1-color);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.hero h1 {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 10px;
    opacity: 0.9;
    font-size: 1.8rem;
    border-radius: 6px;
}



footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
   
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    gap: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
   
}
.socialmedia a{
    font-weight: bold;
    color: #e4d6d6;
    text-decoration: none;
}

.box {
    background-color: var(--accent2-color);
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--accent1-color);
    text-align: center;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

img {
    display: block;
    margin: 0 auto;
}

.package-grid{
    display: grid;
    gap: 1.2rem;
    justify-items: center;
    margin: 0 auto;
}
