*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:  olivedrab;
    width: 100%;
    height: 150px;
    background-position: center;
    padding: 1rem 2rem;
}   

body{
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
}

iframe {
    width: 300px;
    height: 300px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
}

div { 
    width: 200px;
    height: 200px;
}
figure {
    width: 200px;
    margin:30px auto;
    padding: 20px;
    text-align: center; 
    background-color: olivedrab; 
}

section figure{
    display: inline-block;
    margin: 15px;
}

.socialmedia{

    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

form {

    background-color:  olivedrab;
    color: #111;
    max-width: 500px;
    padding: 1rem;
    border-radius: 8px;
    float: right;
    margin: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

input, textarea, select  {
    width: 100px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

button { 
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .9rem;
    border: 1px solid rgb(0 0 0 / 10%);
    width: 100%; 
    padding: 0.7rem;
    cursor: pointer;

}

main {
   display: grid;
   grid-template-rows: auto 1fr 1fr auto; 
   place-items: start left;
}

.box {
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
   
}

form.box {
    max-width: 600px;        
    margin: 2rem auto;
    padding: 1.5rem;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: olivedrab;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-left: auto;
}

form.box button {
    grid-column: span 2;  
    
}

.tittle-box h1 {
    color: #000;
    font-size: 36px;
}

.tittle-box p{
    margin: 4px 0;
    font-size: 18px;
    color: #000;
}
