/* About page CSS */
:root { 
    --primary-color: #e4d6d6; /* off white */
    --secondary-color: #000; /* Black */
    --accent1-color: #047a4b ; /* Dark Olive Green */
    --accent2-color: #fff; /* white */
    --heading-font: "Times New Roman", "Georgia", serif;
     --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent1-color);
    height: 200px;
    width: 100%;
    padding: 1rem 2rem;
}

header figure img {
    height: 120px;
}

header .logo{ 
 height: 300px;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    gap: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
   
}
.socialmedia a{
    font-weight: bold;
    color: #e4d6d6;
    text-decoration: none;
}

.hero { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    position: relative;
}

.hero img { /* to fix*/
    width: 100%;
    height: auto;
}

.hero h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #efe8e8; 
    font-size: 2rem;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article{
    position: absolute;
    top: 40px;
    width: auto;
    text-align: center;
    opacity: 0.9;
    color: #e4d6d6;
    bottom: 200px;
    padding: 4px;
    font-size: 0.9rem;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

}

figure{
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

section figure{
    display: inline-block;
    margin: 15px;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    justify-content: flex-end;
    font-weight: bold;
}

nav a{
    color: var(--primary-color);  
}

/* Contact */

form.box button {
    grid-column: span 2;  
    
}

.tittle-box h1 {
    color: #000;
    font-size: 36px;
}
.tittle-box{
    display: flex;
    font-family: "Times New Roman", "Georgia";
    color: #000;
    text-align: center;


}

input, textarea, select  {
    width: 100px;
}

.employees {
   text-align:center;
}

/* index */ 

section, article, p {
    margin: 16px;
    padding: 8px;
}


footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
   
}


.box {
    background-color: var(--accent2-color);
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--accent1-color);
    text-align: center;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

form.box button {
    grid-column: span 2;  
}
input, textarea, select { 
    width: 100%;
}
img {
    display: block;
    margin: 0 auto;
}

.package-grid{
    display: grid;
    gap: 1.2rem;
    justify-items: center;
    margin: 0 auto;
}

.article{
   text-align:center;
   display: inline-block;
   margin: 1rem;
}

.pictures{
    display: flex;
}

