/* About page CSS */
:root { 
    --primary-color: #000; /* dark green */
    --secondary-color: #000; /* Black */
    --accent1-color: #047a4b ; /* Dark Olive Green */
    --accent2-color: #0d0000; /* black */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 1rem 2rem;
    width: 100%;
    height: 150px;
    background-position: center;
    padding: 1rem 2rem;

}

header .logo{ 
    height: 60px;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    display: flex;
    justify-content: flex-end;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    gap: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
   
}

.hero { 
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #efe8e8; 
    font-size: 2rem;
}

.hero article img {
    float: right;
    width: 125px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav a {
    color: #0a19e9;
    font-weight: bold;
    transition: color 0.3s ease;

}

 .h2 {
    text-align: center;
    margin: 1.5rem;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

}

figure {
    width: 200x;
    margin:30px auto;
    padding: 20px;
    text-align: center; 
    

}

figure{
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

section figure{
    display: inline-block;
    margin: 15px;
}

