/* About page CSS */
:root { 
    --primary-color: #006400; /* dark green */
    --secondary-color: #000; /* Black */
    --accent1-color: #556b2f ; /* Dark Olive Green */
    --accent2-color: #ffff; /* black */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--accent2-color);
    padding: 1rem 2rem;

}
header .logo{ 
    height: 60px;
}

.side-header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
}

.main-nav ul{
    display: flex;
    list-style: none;

}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero { 
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff; 
    font-size: 2rem;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article{
    position: absolute;
    top: 40px;
    width: auto;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    background-color: #556b2f ; /* Dark Olive Green */
    color: #f0f0f0;
    bottom: 200px;
    padding: 4px;
    font-size: 0.9rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav a {
    color: #556b2f;
    font-weight: bold;
    transition: color 0.3s ease;

}

.history{
    padding: 2 rem;
    background: #f9f9f9;
}

.history h2 {
    text-align: center;
    margin: 1.5rem;
    color: #004466;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

}

figure {
    width: 200x;
    margin:30px auto;
    padding: 20px;
    text-align: center; 
    background-color: olive; 

}

section figure{
    display: inline-block;
    margin: 15-x;
}

/* Rafting contact CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:  olivedrab;
    width: 100%;
    height: 150px;
    display: flex;
    background-position: center;
    color: var(--accent2-color);
    padding: 1rem 2rem;
}   

body{
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;  
    align-items: center;       
    height: 100rem;             
    margin: 0;
}

body .h1 {
    justify-self: end;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
}


div { 
    width: 200px;
    height: 200px;
}

figure {
    width: 200px;
    margin:30px auto;
    padding: 20px;
    text-align: center; 
    background-color: olivedrab; 

}

section figure{
    display: inline-block;
    margin: 15px;
}
 
nav img{
    justify-content: center;
    padding: 15px;
}

.socialmedia{

    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

form {

    background-color:  olivedrab;
    color: #111;
    max-width: 500%;
    padding: 1rem;
    border-radius: 8px;
    float: right;
    margin: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

input, textarea, select  {
    padding: 0.5rem;
    width: 100px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

button { 
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .9rem;
    border: 1px solid rgb(0 0 0 / 10%);
    width: 100%; 
    padding: 0.7rem;
    cursor: pointer;

}

.box {
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}
form.box {
    max-width: 500px;        
    margin: 2rem auto;
    padding: 1.5rem;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: olivedrab;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-top: 300px
}

form.box button {
    grid-column: span 2;  
    float: center;     
}

.tittle-box {
    position: absolute;
    top: 50%;                   
    right: 20px;
    transform: translateY(-50%);                
 
}

.tittle-box h1 {
    color: #000;
    font-size: 36px;
}

.tittle-box p{
    margin: 4px 0;
    font-size: 18px;
    color: #000;
}