:root { 
    --primary-color: #006400; /* dark green */
    --secondary-color: #000; /* Black */
    --accent1-color: #556b2f ; /* Dark Olive Green */
    --accent2-color: #000; /* black */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero { 
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff; 
    font-size: 2rem;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article{
    position: absolute;
    top: 140px;
    width: auto;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    background-color: #556b2f ; /* Dark Olive Green */
    color: #f0f0f0;
    bottom: 200px;
    padding: 4px;
    font-size: 0.9rem;
}