*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #5d6d42;
    width: 100%;
    height: 150px;
    background-position: center;
    padding: 1rem 2rem;
}   

body{
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    
}

h1 {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
}

h2 {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
}

form {

    background-color: #5d6d42;
    color: #111;
    padding: 1rem;
    border-radius: 8px;
    float: right;
    margin: 0.5rem;
    grid-template-columns: 1fr;
    gap: 100rem;
    max-width: 500px;
}

.box {
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
   
}


figure{
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

section figure{
    display: inline-block;
    margin: 15px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;

}

input, textarea, select  {
    width: 100px;
}
