.box {
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
   
}

form.box {
    max-width: 600px;        
    margin: 2rem auto;
    padding: 1.5rem;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #047a4b;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-left: auto;
}

form.box button {
    grid-column: span 2;  
    
}

.tittle-box h1 {
    color: #000;
    font-size: 36px;
}
.tittle-box{
    font-family: "Times New Roman", "Georgia";
    color: #000;
    text-align: center;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #047a4b;
    width: 100%;
    height: 150px;
    background-position: center;
    padding: 1rem 2rem;
}   

body{
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    
}

h1, h2{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
}

figure{
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

section figure{
    display: inline-block;
    margin: 15px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;

}

input, textarea, select  {
    width: 100px;
}

.tittle-box