
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent1-color);
    height: 200px;
    width: 100%;
    padding: 1rem 2rem;
}

header .logo{ 
 height: 300px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;

}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}